<h1>申請中の公演情報の詳細</h1>
<% if @stages.present? %>
  <% @stages.each do |stage| %>

    <table class="attr">
      <tr>
        <th>タイトル</th>
        <td><%= link_to stage.title , "/stages/#{stage.id}/admin_stage_show" %></td>
      </tr>
      <tr>
        <th>公演者名</th>
        <td><%= stage.actor.name %></td>
      </tr>
      <tr>
        <th>日付</th>
        <td><%= stage.date %></td>
      </tr>
      <tr>
        <th>時間</th>
        <td><%= stage.time == 1 ? "午前の部" : "午後の部" %></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <% if stage.status == 1 %>
          <td>申請中</td>
        <% elsif stage.status == 2 %>
          <td>承認</td>
        <% else %>
          <td>拒否</td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% else %>
  <p>公演がありません。</p>
<% end %>

<%= link_to "TOP", :root %>
