<h1>公演情報の詳細</h1>
<% if @errors.present? %>
  <% @errors.each do |error| %>
    <%= error  %>
  <% end %>
  <%end %>

<% if @stage.present? %>
  <table class="attr">
    <tr>
      <th>タイトル</th>
      <td><%= @stage.title %></td>
    </tr>
    <tr>
      <th>公演者名</th>
      <td><%= @stage.actor.name %></td>
    </tr>
    <tr>
      <th>日付</th>
      <td><%= @stage.date %></td>
    </tr>
    <tr>
      <th>時間</th>
      <td><%= @stage.time == 1 ? "午前の部" : "午後の部" %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= @stage.text %></td>
    </tr>
    <tr>
      <th>S席</th>
      <td>価格<%= @stage.seats.find_by("seat_type like ?", "%S%").seat_price %>円
        残り席数<%= @stage.seats.where(reservation_id: nil).where("seat_type like ?", "%S%").count %>
      </td>
    </tr>
    <tr>
      <th>A席</th>
      <td>価格<%= @stage.seats.find_by("seat_type like ?", "%A%").seat_price %>円
        残り席数<%= @stage.seats.where(reservation_id: nil).where("seat_type like ?", "%A%").count %>
      </td>
    </tr>
    <tr>
      <th>B席</th>
      <td>価格<%= @stage.seats.find_by("seat_type like ?", "%B%").seat_price %>円
        残り席数<%= @stage.seats.where(reservation_id: nil).where("seat_type like ?", "%B%").count %>
      </td>
    </tr>
  </table>
<% end %>

<%= form_for [@stage, @reservation] do |form| %>
  <h1>座席表</h1>
  <%= collection_check_boxes(:seat, :seat_type, @stage.seats, :seat_type, :seat_type, include_hidden: false) %>
  <div><%= form.submit %></div>
<% end %>

<%= link_to "TOP", :root %>