<h1>予約公演情報の詳細</h1>
<table class="attr">
  <tr>
    <th>タイトル</th>
    <td><%= @stage.title %></td>
  </tr>
  <tr>
    <th>公演者名</th>
    <td><%= @stage.actor.name %></td>
  </tr>
  <tr>
    <th>日付</th>
    <td><%= @stage.date %></td>
  </tr>
  <tr>
    <th>時間</th>
    <td><%= @stage.time == 1 ? "午前の部" : "午後の部" %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= @stage.text %></td>
  </tr>
  <tr>
    <th>S席</th>
    <td>価格<%= @stage.seats.find_by("seat_type like ?", "%S%").seat_price %>円
      残り席数<%= @stage.seats.where(reservation_id: nil).where("seat_type like ?", "%S%").count %>
    </td>
  </tr>
  <tr>
    <th>A席</th>
    <td>価格<%= @stage.seats.find_by("seat_type like ?", "%A%").seat_price %>円
      残り席数<%= @stage.seats.where(reservation_id: nil).where("seat_type like ?", "%A%").count %>
    </td>
  </tr>
  <tr>
    <th>B席</th>
    <td>価格<%= @stage.seats.find_by("seat_type like ?", "%B%").seat_price %>円
      残り席数<%= @stage.seats.where(reservation_id: nil).where("seat_type like ?", "%B%").count %>
    </td>
  </tr>
</table>

<h1>予約座席情報</h1>
<table class="attr">
  <tr>
    <% @reservation.seats.each do |seat| %>
      <th>座席</th>
      <td><%= seat.seat_type %></td>
      <% @price += seat.seat_price %>
    <% end %>
    <th>合計金額</th>
    <td><%= @price %></td>
  </tr>
</table>

<%= link_to "TOP", :root %>
